body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #1e3799;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

.hero {
  padding: 40px;
  text-align: center;
  background: white;
}

.info {
  padding: 20px;
  text-align: center;
}

.box {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.btn {
  display: inline-block;
  background: #38ada9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

footer {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 10px;
}
form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

form textarea {
  height: 100px;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}