body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #1e3799;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

.hero {
  padding: 40px;
  text-align: center;
  background: white;
}

.info {
  padding: 20px;
  text-align: center;
}

.box {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.btn {
  display: inline-block;
  background: #38ada9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

footer {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 10px;
}
